.border{
    border: 2px solid red;
    margin: 3px;
}
.item-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.flex{
    display: flex;
}
.rounded{
    border-radius: 7px;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #1a1a1a; /* Dark background for the scrollbar track */
}

::-webkit-scrollbar-thumb {
    background-color: #333; /* Dark grey color for the scrollbar thumb */
    border-radius: 6px;     /* Rounded edges for the thumb */
    border: 3px solid #1a1a1a; /* Matches track background */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Slightly lighter grey on hover */
}
.invert{
    filter: invert(1);
}